<aside class="sidebar">
  <h2 class="logo">MORENT</h2>
  <nav class="menu">
    <a href="admin_dashboard.html" data-page="dashboard">
      <img src="../image/home.svg" class="icon" alt="Dashboard icon"> Dashboard
    </a>
    <a href="admin_contract.html" data-page="contract">
      <img src="../image/contract.svg" class="icon" alt="Contract icon"> Contracts
    </a>
    <a href="admin_users.html" data-page="users">
      <img src="../image/person.svg" class="icon" alt="User icon"> User
    </a>
    <a href="admin_car.html" data-page="cars">
      <img src="../image/car.svg" class="icon" alt="Car icon"> Cars
    </a>
  </nav>
  <div class="sidebar-footer">
    <a href="#" id="logoutBtn" class="logout-link">
      <i class="fa-solid fa-right-from-bracket icon" style="color: #90A3BF;"></i> Log out
    </a>
  </div>
</aside>

