<aside class="sidebar">
    <h2 class="logo">MORENT</h2>
    <nav class="menu">
      <a href="#" data-page="home" data-url="owner_home.html">
        <img src="../image/home.svg" class="icon" alt="Home icon"> Home
      </a>
      <a href="#" data-page="contracts" data-url="my_contracts.html">
        <img src="../image/car.svg" class="icon" alt="Contracts icon"> My Contracts
      </a>
      <a href="#" data-page="profile" data-url="profile.html">
        <img src="../image/person.svg" class="icon" alt="Profile icon"> Profile
      </a>
      <a href="#" data-page="cars" data-url="owner_car.html">
        <img src="../image/car.svg" class="icon" alt="Cars icon"> My Cars
      </a>
    </nav>
    <div class="sidebar-footer">
      <a href="#" id="logoutBtn" class="logout-link">
        <i class="fa-solid fa-right-from-bracket icon" style="color: #90A3BF;"></i> Log out
      </a>
    </div>
  </aside>
  
  