<aside class="sidebar">
  <h2 class="logo">MORENT</h2>
  <nav class="menu">
    <a href="home.html" data-page="home">
      <img src="../image/home.svg" class="icon" alt="Home icon"> Home
    </a>
    <a href="my_contracts.html" data-page="contracts">
      <img src="../image/car.svg" class="icon" alt="Contracts icon"> My Contracts
    </a>
    <a href="profile.html" data-page="profile">
      <img src="../image/person.svg" class="icon" alt="Profile icon"> Profile
    </a>
  </nav>
  <div class="sidebar-footer">
    <a href="#" id="logoutBtn" class="logout-link">
      <img src="../image/setting.svg" class="icon" alt="Logout icon"> Log out
    </a>
  </div>
</aside>

